*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}
.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 500px 20px white;
    rotate: -30deg;
    z-index: -1 ;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem ;
    z-index: 999;
}

header > .logo{
    font-size: 1.8rem;
    width: 100px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: white;
}

header > .logo:hover {
    font-size: 2.6rem;
    cursor: pointer;
    font-weight: bold;
}

header > .logo > span{
    color: #0073E6;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav > a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

nav > a:hover{
    font-size: 2rem;
    color: #0073E6;
    font-weight: bold;
}

#btn-contact{
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    border-style: dashed;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#btn-contact:hover{
    font-weight: bold;
    font-size: 2rem;
    color: #0073E6;
    background-color: transparent;
    border: none;

}