@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
    padding: 0 2rem;
}

.image-gradient-right{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur-right{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 55px #0073E6;
    rotate: -30deg;
    z-index: -1 ;
}

.image-gradient-left{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur-left{
    height: 0;
    width: 30rem;
    position: absolute;
    bottom: 20%;
    left: 0;
    box-shadow: 0 0 700px 55px #0073E6;
    rotate: -30deg;
    z-index: -1 ;
}

.navbar{
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 999;
    font-family: "Asimovian" , -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem ;
}

header > .logo{
    font-size: 1.8rem;
    width: 100px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: white;
}

header > .logo:hover {
    font-size: 2.6rem;
    cursor: pointer;
    font-weight: bold;
    text-shadow: #0073E6 0 10px 40px;
}

header > .logo > span{
    color: #0073E6;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav > a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

nav > a:hover{
    font-size: 2rem;
    color: #0073E6;
    font-weight: bold;
    text-shadow: #0073E6 0 10px 40px;
}

#contact-ico{
    font-size: 1.5rem;
    padding: 0.5rem;
}

#btn-contact{
    width: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 100px;
    border-style: dashed;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    font-family: "Asimovian" , sans-serif;
}

#btn-contact > .btn-text {
    margin-left: 25px;
}

#btn-contact:hover{
    width: 200px;
    font-weight: bold;
    color: #0073E6;
    background-color: transparent;
    text-shadow: #0073E6 0 10px 40px;
}

.hero{
    display: flex;
    margin-top: 18%;
    padding: 0 5.5rem;
}

.hero-content{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: "Asimovian" , -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scrolling-text-wrapper {
    display: flex;
}

.static-text {
    margin-right: 15px;
    font-size: 2.5rem;
}

.word-cycler {
    font-size: 3.5rem;
    height: 4rem;
    overflow: hidden;
    font-weight: bold;
}

.word {
    display: flex;
    line-height: 4rem;
    animation: word-scroll 8s infinite; /* 8s total cycle time, endless loop */
    padding: 0;
    margin: 0;
}

#word-sycler-1{
    color: #0073E6;
}
#word-sycler-2{
    color: mediumseagreen;
}
#word-sycler-3{
    color: gray;
}

@keyframes word-scroll {
    0%, 25% { transform: translateY(0); }

    30%, 55% { transform: translateY(-4rem); }

    60%, 85% { transform: translateY(-4rem); }

    90%, 100% { transform: translateY(0); }
}

.hero-content > h1{
    font-size: 4rem;
    line-height: 1;
}

.hero-content > h1 > #h{
    font-size: 10rem;
    color: white;
}

.hero-content > h1 > span{
    color: #0073E6;
}